.top-toolbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(133, 63%, 43%);
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0 0 0.8em 0.8em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.top-toolbar-li {
  border-right: 1px solid #bbb;
}

.top-toolbar-li:last-child {
  border-right: none;
}

.top-toolbar-li button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #112a46;
  padding: 2vw 3vw;
  font-size: 5vw;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.top-toolbar-li button:hover {
  background-color: hsl(133, 77%, 36%);
}

@media only screen and (min-width: 768px) {
  .top-toolbar-li button {
    padding: 1vw 1.5vw;
    font-size: 1vw;
  }
}
